@use 'base/variables' as v;
@use 'base/mixins' as m;

.escuela{
    @include m.bgImage('/build/img/chef_bg.jpg');
    padding: 10rem 0;
    text-align: center;
    color: v.$blanco;

    &__heading{
        font-weight: 700;
    }

    &__texto{
        max-width: 50rem;
        font-size: 2.4rem;
        margin: 0 auto;
    }

    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
    }
}