@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  padding: 2rem 0;
  border-bottom: 0.5rem solid v.$primario;

  &__grid {
    @include m.tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__copyright {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 0;
    @include m.tablet {
      margin: 0;
    }
  }
}
